.navbar{
    background-color: white;
    padding: 16px;
}

.navbar-countainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links a:visited {
    color: red;
}

.nav-toggle {
    display: none;
}

    .nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.479);
    font-weight: bold;

}
a:visited{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 30px;
    margin:0 ;
}

h1 {
    font-size: 50px;
    margin:0 ;
}

#hobby {
    width: 80%;
    margin: 100PX auto;
}

#hobby-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
}

.box {
    width: 25%;
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
}


@media screen and (max-width: 600px){
    #container {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        justify-content: space-between;
        align-items: center;
}

#container img {
    width: 500px;
}

#container h3 {
    font-size: 16px;
}

#container h1 {
    font-size: 36px;
}

#hobby-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    
}

nav{
    width: 80%;
    margin: auto;
    background-color: rgb(255, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black; 
}

.box {
    width: 80px;
    padding: 10px;
}

.nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-toggle:focus + .nav-links,
.nav-links:hover {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
}

}